body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
main{
    /* margin: 20px; */
    background-color: rgba(135, 206, 235, 0.3);
    width: 50%;
    height: 100vh;
    padding-top: 50px;

}
form{
    background-color: white;
    /* margin-top: 80px; */
    margin: 12px;
    margin-left: 92px;
    height: 80%;
    width: 50%;
    font-size: 12px;
    padding: 60px;
    border: 1px solid white;
    border-radius: 15px;
}
.aa{
    display: flex;
    margin-bottom: 20px;
}
h2{
    font-family: sans-serif;
    font-size: 32px;
    font-weight: bold;
}
em{
    color:RGB(123, 123, 123);
    display: block;
    margin-bottom: 20px;
    font-size:16px;
}
input{
    width: 10vw;
    padding: 10px;
}
select{
    width: 11.3vw;
    padding: 10px;
}
.left{
    margin-left: 10px;
}
span{
    color: #0061FF;
    font-size: 10px;
}
h6{
    margin-top: -10px;
    font-size: 12px;
    color:RGB(123, 123, 123);
    font-weight: 200;
}
button{
    width: 93%;
    background-color: #0061FF;
    border: 1px solid #0061FF;
    text-align: center;
    color: white;
    padding: 5px;
    margin-top: -10px;
}
h5{
    display: block;
    margin-left: 8vw;
}