body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
main{
    /* background-color: #191919; */
    margin: 25px 55px;
}
div{
    margin-left: 20px;
    border: 1px solid #131313;
    margin: 50px;
    margin-top: 20px;
    border-radius: 5px;
    padding: 5px;
    padding-left: 10px;
    background-color: #303030;
    color: white;
    box-shadow: 5px 5px 10px #888888;
    display: inline-block;
    height: 14vh;
    margin-left: 16vw;
    margin-right:16vw;
    
}
a{
    color: white;
    transform-text: none;
}
#headi{
    display: block;
    height: auto;
    margin-left: 30vw;
    margin-right: 30vw;
    text-align: center;
}
#headi3{
    padding-bottom: 48px;
}
#headi4{
    padding-bottom: 208px;
}
