../.#hdhdhdhh
../.anydesk/
../.bash_history
../.bash_logout
../.bashrc
../.cache/
../.condarc
../.config/
../.dotnet/
../.eclipse/
../.emacs.d/
../.embedmongo/
../.gitconfig
../.gnome/
../.gnupg/
../.idlerc/
../.java/
../.jdks/
../.lesshst
../.local/
../.m2/
../.mongodb/
../.node_repl_history
../.npm/
../.npmrc
../.nvm/
../.p2/
../.packettracer
../.pgadmin/
../.pki/
../.profile
../.python_history
../.python_history-04944.tmp
../.python_history-76863.tmp
../.software/
../.ssh/
../.sudo_as_admin_successful
../.swt/
../.thunderbird/
../.vim/
../.viminfo
../.vscode/
../.wget-hsts
../.wine/
../.yarn/
../.yarnrc
../.zoom/
../10.1 Blockchain.S2.en.pdf
../Downloads/
../Mastering_Ethereum_Andreas.M.Antonopoulos.www.EBooksWorld.ir.pdf
../PRECONTENT WEEK3.pdf
../PRECONTENTWEEK1.pdf
../PRECONTENTWEEK2.pdf
../RAZAMTTA/
../Screenshots/
../Udacity - Blockchain Developer Nanodegree Program.rar
../carefnext/
../discord.deb
../project/
../snap/
../tsetup.5.3.2.tar.xz
../web3/
../~

